@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('idroid.otf') format('opentype');
    font: normal normal;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*Toda a variável em css começa com --*/
:root {
    --cor0: #C5EBD6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063D1E;
}

body {
    margin: auto;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor0);
    text-align: justify;
}

p {
    margin: 15px 0px 15px 0px;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1.1em;
}

header {
    text-align: center;
    color: white;
    background-image: linear-gradient(to bottom, #3DDA84, #134228);
    padding-top: 10px;
    font-family: 'bebas neue';
}

h1 {
    font-weight: normal;
}

header nav {
    text-align: left;
}

header nav a {
    text-decoration: none;
    color: white;
    padding: 0px 10px 0px 10px;
}

header nav a:hover {
    background-color: #3DDA84;
    transition-duration: 0.5s;
}

.conteudoPrincipal {
    border-radius: 10px 10px 0px 0px;
    background-color: white;
    padding: 5px;
    max-width: 800px;
    margin: auto;
}

.titulo {
    font-family: idroid;
    color: green;
    background-image: linear-gradient(to right, #8BBAA0, white)
}

.destaque {
    color: green;
    font-weight: bold;
}

a {
    color: green;
    font-weight: bold;
    text-decoration: none;
}

main a {
    background-color: var(--cor1);
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4)
}

.imagem {
    text-align: center;
}

div.video {
    background-color: var(--cor5);
    max-width: 800px;
    margin: auto;
    padding: 5px;
    padding-top: 37.4%;
    position: relative
}

div.video>iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.encerramento {
    background-color: white;
    max-width: 800px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
}

.QuadroEncerramento {
    background-color: #C5EBD6;
    margin-top: 5px;
    padding: 0px 0px 5px 0px;
    border-radius: 10px 10px 10px 10px;
    max-width: 800px;
    margin: auto;
}

.QuadroEncerramentoTitulo {
    background-color: #2FA866;
    color: white;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
}

.lista {
    display: flex;
    justify-content: space-between;
    padding: 0px 70px 0px 0px;
}

footer {
    background-color: #1A5C38;
    text-align: center;
    color: white;
    padding: 2px;
    margin-top: 15px;
}